@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.curved-polygon {
    width: 300px;
    height: 200px;
    background-color: lightblue;
    clip-path: path(
        'M 0 0
                    L 76% 0
                    Q 76% 0 76% 14%
                    L 100% 14%
                    Q 100% 14% 100% 100%
                    L 25% 100%
                    Q 25% 100% 25% 84%
                    L 0 84%
                    Q 0 84% 0 0'
    );
}

.vs__dropdown-toggle {
    background-color: #f3f4f6 !important;
    border: none !important;
    height: 36px !important;
    border-radius: 8px !important;
}
.vs__search {
    font-size: 14px !important;
    color: gray !important;
}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}
