@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.curved-polygon {
    width: 300px;
    height: 200px;
    background-color: lightblue;
    clip-path: path(
        'M 0 0
                    L 76% 0
                    Q 76% 0 76% 14%
                    L 100% 14%
                    Q 100% 14% 100% 100%
                    L 25% 100%
                    Q 25% 100% 25% 84%
                    L 0 84%
                    Q 0 84% 0 0'
    );
}

.vs__dropdown-toggle {
    background-color: #f3f4f6 !important;
    border: none !important;
    height: 36px !important;
    border-radius: 8px !important;
}
.vs__search {
    font-size: 14px !important;
    color: gray !important;
}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}
.v-navigation-drawer__content::-webkit-scrollbar {
    display: none !important;
}

:root {
    --toggle-size: 10px;
    --switch-w: 4em;
    --switch-h: 2em;
    --switch-handle-scale: 0.65;
    --switch-off-handle-x: -0.125em;
    --switch-on-handle-x: calc(100% - 0.125em);
    --switch-transition-duration: 0.2s;
}

#theme-toggle {
    display: none;

    & + label {
        font-size: var(--toggle-size);
        display: flex;
        height: var(--switch-h);
        width: var(--switch-w);
        border-radius: calc(var(--switch-h) / 2);
        background-size: auto 8em;
        background-position: bottom;
        background-image: linear-gradient(
            180deg,
            #021037 0%,
            #20206a 19%,
            #4184b1 66%,
            #62e7f7 100%
        );
        transition: var(--switch-transition-duration);
        border: 0.125em solid hsl(207, 30%, 95%);
        overflow: hidden;

        span {
            background: #fffad8;
            border-radius: 50%;
            height: var(--switch-h);
            width: var(--switch-h);
            transform: translateX(var(--switch-off-handle-x))
                scale(var(--switch-handle-scale));
            transition: var(--switch-transition-duration);
            cursor: pointer;
            box-shadow: 0 0 0.25em 0.0625em #fbee8d, 0 0 2em 0 #ffeb3b,
                inset -0.25em -0.25em 0 0 #fbee8e,
                inset -0.3125em -0.3125em 0 0.625em #fff5b2;
            margin-top: var(--switch-off-handle-x);
        }
    }

    &:checked {
        font-size: var(--switch-font-size);

        & + label {
            background-position: top;
            border-color: hsl(207, 30%, 50%);

            span {
                background: transparent;
                transform: translateX(var(--switch-on-handle-x))
                    scale(var(--switch-handle-scale));
                box-shadow: inset -0.1875em -0.1875em 0 0 #fbe7ef,
                    inset -0.5625em -0.5625em 0 0 #fffff7;
            }
        }
    }
}

#page {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.dark .v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > td,
.dark .v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > th {
    border-bottom: thin solid rgb(255, 255, 255, 0.2) !important;
}
