@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/node_modules/flowbite-vue/dist/index.css';

.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.curved-polygon {
    width: 300px;
    height: 200px;
    background-color: lightblue;
    clip-path: path(
        'M 0 0
                    L 76% 0
                    Q 76% 0 76% 14%
                    L 100% 14%
                    Q 100% 14% 100% 100%
                    L 25% 100%
                    Q 25% 100% 25% 84%
                    L 0 84%
                    Q 0 84% 0 0'
    );
}
